{% extends 'frontend/base.html' %}


{% block main %}



    <!-- ====== Page Header ====== -->
    <div
      class="page-header background-overlay"
      style="background-image:url(/static/frontend/images/page-header-one.png)"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="page-title">Home / Cars / Single Page</h2>
            <p class="page-description yellow-color">Our All Information</p>
          </div>
          <!-- /.col-md-12 -->
        </div>
        <!-- /.row-->
      </div>
      <!-- /.container-fluid -->
    </div>

    <!-- ====== Vehicle Single Block ====== -->
    <div class="vehicle-single-block vehicle-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="corousel-gallery-content">
              <div class="gallery">
                <div class="full-view owl-carousel">
                  <a
                    class="item"
                    href="/static/frontend/images/post/list-image-three.jpg"
                  >
                    <img
                      src="/static/frontend/images/post/post01.jpg"
                      alt="post"
                    />
                  </a>
                  <a
                    class="item"
                    href="/static/frontend/images/post/list-image-two.jpg"
                  >
                    <img
                      src="/static/frontend/images/post/list-image-two.jpg"
                      alt="post"
                    />
                  </a>
                  <a
                    class="item"
                    href="/static/frontend/images/post/list-image-three.jpg"
                  >
                    <img
                      src="/static/frontend/images/post/list-image-three.jpg"
                      alt="post"
                    />
                  </a>
                  <a
                    class="item"
                    href="/static/frontend/images/post/list-image-four.jpg"
                  >
                    <img
                      src="/static/frontend/images/post/list-image-four.jpg"
                      alt="post"
                    />
                  </a>
                  <a
                    class="item"
                    href="/static/frontend/images/post/list-image-five.jpg"
                  >
                    <img
                      src="/static/frontend/images/post/list-image-five.jpg"
                      alt="post"
                    />
                  </a>
                  <a
                    class="item"
                    href="/static/frontend/images/post/list-image-six.jpg"
                  >
                    <img
                      src="/static/frontend/images/post/list-image-six.jpg"
                      alt="post"
                    />
                  </a>
                </div>

                <div class="list-view owl-carousel">
                  <div class="item">
                    <img
                      src="/static/frontend/images/post/list-image-one.jpg"
                      alt="post-image"
                    />
                  </div>
                  <div class="item">
                    <img
                      src="/static/frontend/images/post/list-image-two.jpg"
                      alt="post-image"
                    />
                  </div>
                  <div class="item">
                    <img
                      src="/static/frontend/images/post/list-image-three.jpg"
                      alt="post-image"
                    />
                  </div>
                  <div class="item">
                    <img
                      src="/static/frontend/images/post/list-image-four.jpg"
                      alt="post-image"
                    />
                  </div>
                  <div class="item">
                    <img
                      src="/static/frontend/images/post/list-image-five.jpg"
                      alt="post-image"
                    />
                  </div>
                  <div class="item">
                    <img
                      src="/static/frontend/images/post/list-image-six.jpg"
                      alt="post-image"
                    />
                  </div>
                </div>
              </div>
              <!-- /.gallery-two -->
            </div>
            <!-- /.corousel-gallery-content -->

            <div class="vehicle-single-content">
              <div class="tb mb-block">
                <div class="tb-cell mb-block">
                  <h2 class="vehicle-single-title">Maruti 2008 Model</h2>
                </div>
                <!-- /.tb-cell -->
                <div class="tb-cell mb-block">
                  <h2 class="pull-right rent-price">Rent/Day: $350</h2>
                </div>
                <!-- /.tb-cell -->
              </div>
              <!-- /.tb -->
              <div class="clearfix"></div>
              <!-- /.clearfix -->

              <div class="price-details">
                <h3 class="details-title">Price Details-</h3>
                <ul>
                  <li>Rent/Day: $150 (negotiable)</li>
                  <li>Rent/Week: $900 (negotiable)</li>
                  <li>Rent/Month: $3000 (negotiable)</li>
                  <li>Service Charge : 150 USD per month, subject to change</li>
                  <li>Security Deposit : All Security's Company</li>
                  <li>Servicing : Servicing free</li>
                </ul>
              </div>
              <!-- /.price -->

              <div class="vehicle-overview">
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="overview-title">Car Overview</h3>
                    <div class="overview">
                      <ul>
                        <li>Class: <span>Compact</span></li>
                        <li>Price from: <span>8.26 USD / day</span></li>
                        <li>Gear box: <span>Auto</span></li>
                        <li>Mileage: <span>Unlimited</span></li>
                        <li>Max passengers: <span>5</span></li>
                        <li>Fuel: <span>Octen/Petrol</span></li>
                        <li>Max luggage: <span>1</span></li>
                        <li>Fuel usage: <span>5-6/100km</span></li>
                        <li>Doors: <span>4</span></li>
                        <li>Engine capacity: <span>1400 ccm</span></li>
                        <li>Deposit: <span>110.00 USD</span></li>
                      </ul>
                    </div>
                    <!-- /.vehicle-overview -->
                  </div>
                  <!-- /.col-md-12 -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.overview -->

              <div class="vehicle-internal-features">
                <div class="row">
                  <div class="col-md-6">
                    <h3 class="features-title">Internal features:</h3>
                    <ul class="features-list">
                      <li>A/C full-time</li>
                      <li>Audio Music</li>
                      <li>Video Music</li>
                      <li>Special Set</li>
                      <li>Fire exit</li>
                      <li>Sound Proof</li>
                      <li>Satellite Tracker</li>
                      <li>Car Heater</li>
                      <li>Mineral Water</li>
                      <li>Cold Drinks</li>
                    </ul>
                  </div>
                  <!-- /.col-md-6 -->
                  <div class="col-md-6">
                    <h3 class="features-title">External features:</h3>
                    <ul class="features-list">
                      <li>4 Doors</li>
                      <li>2 Outlooking Glass</li>
                      <li>Awesome Balance System</li>
                      <li>Powerful Head Light</li>
                      <li>Backup Fuel</li>
                      <li>Emergency Break</li>
                      <li>Emergency Safety Tools</li>
                    </ul>
                  </div>
                  <!-- /.col-md-6 -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.indoor -->
            </div>
            <!-- /.family-apartment-content -->

            <div class="hidden-md hidden-lg text-center extend-btn">
              <span class="extend-icon">
                <i class="fa fa-angle-down"></i>
              </span>
            </div>
          </div>
          <!-- /.col-md-8 -->

          <div class="col-md-4">
            <div class="vehicle-sidebar pd-zero">
              <form
                id="bookForm"
                autocomplete="off"
                class="advance-search-query search-query-two"
                action="/booking/"
                method="post"
              >
                {% csrf_token %}

                <h2 class="form-title">Make A Reservation</h2>
                <div class="form-content available-filter">
                  <div class="regular-search">
                    <div class="form-group">
                      <label class="text-uppercase">Your name</label>
                      <div class="input">
                        <i class="fa fa-user"></i>

                        {% if form.customer_name.value %}

                        <input
                          type="text"
                          name="customer_name"
                          placeholder="your name"
                          value="{{ form.customer_name.value }}"
                          class=" form-controller"
                        />
                        {% else %}

                        <input
                          type="text"
                          name="customer_name"
                          placeholder="your name"
                          class=" form-controller"
                        />

                        {% endif %} {% if form.customer_name.errors %}
                        <ul>
                          {% for error in form.customer_name.errors %}
                          <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      </div>
                      <!--/.input-->

                      <label class="text-uppercase">Your email</label>
                      <div class="input">
                        <i class="fa fa-envelope-o"></i>

                        {% if form.customer_email.value %}

                        <input
                          type="text"
                          name="customer_email"
                          required
                          class=" form-controller"
                          value="{{ form.customer_email.value }}"
                        />

                        {% else %}

                        <input
                          type="text"
                          name="customer_email"
                          placeholder="your email"
                          required
                          class=" form-controller"
                        />

                        {% endif %}
                      </div>
                      <!--/.input-->

                      <label class="text-uppercase">Your phone</label>
                      <div class="input">
                        <i class="fa fa-phone"></i>
                        <input
                          type="text"
                          name="customer_phone_number"
                          placeholder="your phone"
                          required
                          class=" form-controller"
                        />
                      </div>
                      <!--/.input-->

                      <label>Picking up Date</label>
                      <div class="input">
                        <i class="fa fa-calendar"></i>
                        <input
                          type="text"
                          class="date-start date-selector form-controller"
                        />
                        <input
                          type="date"
                          name="booking_start_date"
                          required
                          placeholder="Hire On"
                        />
                      </div>
                      <!--/.input-->

                      <label>Dropping off Date</label>
                      <div class="input">
                        <i class="fa fa-calendar"></i>
                        <input
                          type="text"
                          class="date-end date-selector form-controller"
                        />
                        <input
                          type="date"
                          name="booking_end_date"
                          required
                          placeholder="Return On"
                        />
                      </div>

                      {% if form.car.value %}

                      <input
                        type="hidden"
                        name="car"
                        value="{{form.car.value}}"
                      />

                      {% else %}

                      <input type="hidden" name="car" value="{{car.id}}" />

                      {% endif %}

                      <!--/.input-->
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.div regular-search -->

                  <div class="check-vehicle-footer">
                    <button type="submit" class="button yellow-button">
                      Book Now
                    </button>
                  </div>
                  <!-- /.check-vehicle-footer -->
                </div>
                <!-- /.from-cotent -->
              </form>
              <!-- /.advance_search_query -->

              <div class="ads_area">
                <a href="#"
                  ><img src="/static/frontend/images/Add-Image.jpg" alt="add"
                /></a>
              </div>
              <!-- /.ads_area -->
            </div>
            <!-- /.vehicle-sidebar -->
          </div>
          <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container  -->
    </div>
    <!-- /.Popular Vehicle Block -->

    <!-- ====== Ralated  Block ====== -->
    <div class="ralated-block bg-gray-color">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="ralated-heading text-center">
              <h2 class="related-title">Related Apartments</h2>
            </div>
            <!-- /.blog-heading -->
          </div>
          <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="vehicle-content theme-yellow">
              <div class="vehicle-thumbnail">
                <a href="#">
                  <img
                    src="/static/frontend/images/popular/popular-01.png"
                    alt="car-item"
                  />
                </a>
              </div>
              <!-- /.vehicle-thumbnail -->
              <div class="vehicle-bottom-content">
                <h2 class="vehicle-title"><a href="#">Toyota Aygo</a></h2>
                <div class="vehicle-meta">
                  <div class="meta-item">
                    <span>Rent: $200 / </span> Day, - $12 / Km,
                  </div>
                </div>
                <!-- /.meta-left -->
              </div>
              <!-- /.vehicle-bottom-content -->
            </div>
            <!-- /.car-content -->
          </div>
          <!-- /.col-md-3 -->

          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="vehicle-content theme-yellow">
              <div class="vehicle-thumbnail">
                <a href="#">
                  <img
                    src="/static/frontend/images/popular/popular-02.png"
                    alt="car-item"
                  />
                </a>
              </div>
              <!-- /.vehicle-thumbnail -->
              <div class="vehicle-bottom-content">
                <h2 class="vehicle-title"><a href="#">Toyota Aygo</a></h2>
                <div class="vehicle-meta">
                  <div class="meta-item">
                    <span>Rent: $200 / </span> Day, - $12 / Km,
                  </div>
                </div>
                <!-- /.meta-left -->
              </div>
              <!-- /.vehicle-bottom-content -->
            </div>
            <!-- /.car-content -->
          </div>
          <!-- /.col-md-3 -->

          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="vehicle-content theme-yellow">
              <div class="vehicle-thumbnail">
                <a href="#">
                  <img
                    src="/static/frontend/images/popular/popular-03.png"
                    alt="car-item"
                  />
                </a>
              </div>
              <!-- /.vehicle-thumbnail -->
              <div class="vehicle-bottom-content">
                <h2 class="vehicle-title"><a href="#">Toyota Aygo</a></h2>
                <div class="vehicle-meta">
                  <div class="meta-item">
                    <span>Rent: $200 / </span> Day, - $12 / Km,
                  </div>
                </div>
                <!-- /.meta-left -->
              </div>
              <!-- /.vehicle-bottom-content -->
            </div>
            <!-- /.car-content -->
          </div>
          <!-- /.col-md-3 -->
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="vehicle-content theme-yellow">
              <div class="vehicle-thumbnail">
                <a href="#">
                  <img
                    src="/static/frontend/images/popular/popular-04.png"
                    alt="car-item"
                  />
                </a>
              </div>
              <!-- /.vehicle-thumbnail -->
              <div class="vehicle-bottom-content">
                <h2 class="vehicle-title"><a href="#">Toyota Aygo</a></h2>
                <div class="vehicle-meta">
                  <div class="meta-item">
                    <span>Rent: $200 / </span> Day, - $12 / Km,
                  </div>
                </div>
                <!-- /.meta-left -->
              </div>
              <!-- /.vehicle-bottom-content -->
            </div>
            <!-- /.car-content -->
          </div>
          <!-- /.col-md-3 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.ralated-block -->


{% endblock %}